html,
body,
#app {
  height: 100%;
  width: 100%;
  --theme-color: #20b996;
  --focus-color: #00bf7c;
  --error-color: #dd3139;
}

body {
  margin: 0;
  font-size: 14px;
}

* , ::after, ::before {
  box-sizing: border-box;
}